# Node.js / Electron
/frontend/node_modules/
frontend/dist/
frontend/build/
*.log

# Electron binary cache
*.asar
*.bin
*.exe
.DS_Store

# IDE & OS files
.idea/
*.iml
*.swp
*.swo
*.swn
*.bak
*.tmp
Thumbs.db

# npm
package-lock.json
npm-debug.log*

# Java / Spring Boot
/target/
*.class
*.jar
*.war
*.ear

# IntelliJ / VS Code
.vscode/
*.iws
*.ipr
*.project
*.classpath
*.settings/

# Mac
